In [4]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [40]:
data = requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=nly&outputsize=full&apikey=9HXBL1MHLXSUW3XP')
data = data.json()

In [41]:
data['Meta Data']

{'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'nly',
 '3. Last Refreshed': '2020-01-03',
 '4. Output Size': 'Full size',
 '5. Time Zone': 'US/Eastern'}

In [42]:
df = pd.DataFrame.from_dict(data['Time Series (Daily)'], orient = 'index')

In [48]:
df.index = pd.to_datetime(df.index)

In [52]:
df.index[0]

Timestamp('2020-01-03 00:00:00')

In [53]:
df.head()

           1. open 2. high  3. low 4. close 5. volume
2020-01-03  9.4100  9.4900  9.4100   9.4300   9443175
2020-01-02  9.4300  9.4800  9.3700   9.4800  10589502
2019-12-31  9.3800  9.4600  9.3800   9.4200  10793469
2019-12-30  9.5200  9.5403  9.3800   9.4200  13336398
2019-12-27  9.7700  9.8000  9.7400   9.7500  13126753

In [57]:
df.columns = ['open', 'high', 'low', 'close', 'volume']

              open    high     low   close    volume
2020-01-03  9.4100  9.4900  9.4100  9.4300   9443175
2020-01-02  9.4300  9.4800  9.3700  9.4800  10589502
2019-12-31  9.3800  9.4600  9.3800  9.4200  10793469
2019-12-30  9.5200  9.5403  9.3800  9.4200  13336398
2019-12-27  9.7700  9.8000  9.7400  9.7500  13126753